
body{
	background-image: url(grey.jpg);
	margin: 0  0 0 0;
}

#page{
	
	height: 25%;
	width: 100%;
	float: right;
	font-style: halvetica;
	font-size: 50px;
	text-align: center;
	padding-top: 25px;
	background-image: url("image1.jpg");
}


.aside_info{
	
	width: 15%;
	height: 100%;
	float: left;
	background-image: url("image1.jpg");
	
}

.contact_details{
	padding-left: 35px;
}



ul li{
	list-style: none;
	list-style-position: left;
}

button{
	height: 10%;
	width: 25%px;
	border-radius: 50px;

}

.content{
	width: 80%;
	height: 70%;

}
/*about page =====================================================*/
p {
	
	font-family: "Monotype Corsiva", cursive;
	font-size: 20px;
	margin-right: 50px;	
}

p ol {
	
	font-family: "Monotype Corsiva", cursive;
	font-size: 20px;
	padding-left: 50px;
	margin-right: 50px;
}

blockquote{
	
	font-family: "Monotype Corsiva", cursive;
	font-size: 20px;
	margin-left: 250px;

}

/*=================resume page=====================*/


h3{
	border: solid black;
	padding-top: 250px;
	padding-left: 300px;
	border-bottom: solid grey;
}

.resume{
	padding-left: 300px;
}


/*=====================portfolio page========================*/

.thumbnails{
	display: inline-block;
	border: solid grey;
    width: 25%;
    height: 35%;
    margin: 0.5em;
    text-align: center;
}


