
body{
	background-image: url(image4.jpg);
	
}

.umbrella1{
	position: left;
	
}

button{
	opacity: 0.7;
}

.container {
	width: 800px;
	max-width: 90%;
	float: left;
}

.container_name{
	font-size: 40px;
	width: 600px;
	height: 400px;
	padding-top: 200px;
	float: right;
	font-family: cursive;
	
}

nav{
	float: left;
}
