
body{
	background-image: url(image4.jpg);
	
}

/*@font-face{
	font-family:"handwritten";
	src: url("Colors Of Autumn.ttf");*/

.umbrella1{
	position: left;
	
}

/*button{
	opacity: 0.7;*/
}

.container {
	width: 800px;
	max-width: 90%;
	float: left;
}

.container_name{
	width: 600px;
	height: 400px;
	padding-top: 150px;
	float: right;
	font-family: 'Metrophobic', Arial, serif;
	font-size: 60px; 
	
}

nav{
	float: left;
}

